@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap');
 

body{
    font-family: 'Source Sans Pro';
  margin: 0;
  background-color: #FFFFFF;
}

*{

  box-sizing: border-box;
  
}